
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgba(0, 140, 255, 0.555);
}
.container{
    width: 770px;
    padding: 40px;
    background-color: aliceblue;
    border-radius: 20px;

}
.container .conteudo{
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 1px solid rgb(0, 186, 233);
}
.conteudo .escrevetexto{
    max-height: 255px;
    overflow-y: auto;
}
.escrevetexto ::-webkit-scrollbar{
    width: 0;
}
.escrevetexto p{
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
}
.conteudo .menu{
    display: flex;
    margin-top: 17px;
    padding: 12px 0;
    border-top: 1px solid rgb(0, 186, 233);
    justify-content: space-between;
}
.menu button{
    border: none;
    outline: none;
    width: 105px;
    padding: 8px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    background: #17a2b8;
    transition: transform 0.3s ease;
}
.menu button:active{
    transform: scale(0.97);
}
.menu .resultadosdetalhes{
    display: flex;
    width: calc(100% - 140px);
    justify-content: space-between;
}
.resultadosdetalhes li{
    height: 22px;
    display: flex;
    list-style: none;
    align-items: center;
}
.resultadosdetalhes li:not(:first-child){
    padding-left: 22px;
    border-left: 1px solid #ccc;
}
.resultadosdetalhes li p{
    font-size: 19px;
}
.resultadosdetalhes li span{
    display: block;
    font-size: 20px;
    margin-left: 10px;
}
.resultadosdetalhes li:not(:first-child) span{
    font-weight: 500;
}
.resultadosdetalhes li b{
    font-weight: 500;
}
